[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pytest = "*"
requests = "*"
flake8 = "*"
pandas = "*"
python-multipart = "*"
jinja2 = "*"
gunicorn = "*"
uvloop = "*"
httptools = "*"

[requires]
python_version = "3.8"
