<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to Couch Watch</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bulma.min.css">
    </head>
    <body>
        <section class="hero">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Couch Watch
              </h1>
              <h2 class="subtitle">
                Netflix Movies and TV Shows
              </h2>
            </div>
          </div>
        </section>
        <table id="shows" class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>Show ID</th>
            <th>Title</th>
            <th>Type</th>
            <th>Duration</th>
            <th>Added date</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        {table_rows}
    </tbody>
    <tfoot>
        <tr>
            <th>Show ID</th>
            <th>Title</th>
            <th>Type</th>
            <th>Duration</th>
            <th>Added date</th>
            <th>Year</th>
        </tr>
    </tfoot>
</table>
        <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        <script defer src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script defer src="https://cdn.datatables.net/1.10.22/js/dataTables.bulma.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#shows').DataTable();
            });
        </script>
    </body>
</html>